:root {
    // Theme colors
    --primary-color: #a7bcff;
    --primary-color-light: #c6d3fcae;
    --primary-color-dark: #88a4ff;
    --secondary-color: #a7bcff;
    --secondary-color-light: #a7bcff;
    --text-color: black;
    --text-color-light: rgb(58, 58, 58);
    --text-color-white: white;

    // Font size and Font weight
    --largest-font-size: 4rem;
    --large-font-size: 2.5rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.8rem;
    --font-weight-boldest: 800;
    --font-weight-bolder: 700;
    --font-weight-bold: 600;
    --font-weight-normal: 500;
    --font-weight-light: 300;

    // Global styles
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    input {
        outline: none;
    }

    button {
        border: none;
        outline: none;
    }

    a {
        text-decoration: none;
    }

    li {
        list-style: none;
    }
}

.formContainer {
    height: 100vh;
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;

    .formWrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 15px;
        padding: 2rem 3rem;
        background-color: var(--text-color-white);
        border-radius: 10px;
        max-width: max-content;

        .logo {
            font-size: var(--large-font-size);
            font-weight: var(--font-weight-boldest);
            color: var(--primary-color-dark);
        }

        .title {
            color: var(--primary-color-dark);
            font-size: var(--small-font-size);
        }

        form {
            display: flex;
            flex-direction: column;
            gap: 0.8rem;

            input[type="text"],
            input[type="email"],
            input[type="password"] {
                outline: none;
                height: 50px;
                border: none;
                border-bottom: 1px solid var(--primary-color);
                background: transparent;
                font-size: var(--normal-font-size);
                width: 250px;

                &::placeholder {
                    color: var(--primary-color-light);
                }

            }

            label {
                display: flex;
                align-items: center;
                gap: 1rem;

                img {
                    width: 32px;
                }

                span {
                    color: var(--primary-color-dark);
                    font-size: var(--small-font-size);
                }
            }

            button {
                background-color: var(--primary-color-dark);
                color: white;
                padding: 10px 12px;
                font-weight: var(--font-weight-bold);
                cursor: pointer;
                margin-top: 0.8rem;
            }
        }

        p {
            // margin-top: 10px;
            font-size: var(--small-font-size);
        }
    }
}